{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->

<style>
a.site-title, .site-title, .site-title:visited {
color: #ff0000 !important;
text-decoration: none !important;
}

.masthead__menu-toggle,
.greedy-nav__toggle,
button.greedy-nav__toggle {
display: none !important;
visibility: hidden !important;
width: 0 !important;
}

.masthead__inner-wrap .masthead__menu {
display: block !important;
}

.masthead__inner-wrap .greedy-nav .visible-links {
display: flex !important;
visibility: visible !important;
}

.greedy-nav .hidden-links {
display: none !important;
}
</style>
