# Basic Site Settings
locale: "en-AU"
words_per_minute: 200
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "air"
title: "About"
title_separator: "-"
url: "https://martinwechselberger.github.io"
baseurl: ""
repository: "martinwechselberger/martinwechselberger.github.io"

# Masthead Navigation
masthead_nav: "main"
minimal_mistakes_external_links: true

# Site Author
author:
  avatar: "headshot.jpg"
  name: "Martin Wechselberger"
  bio: "Professor"
  location: "Sydney, Australia"
  employer: "University of Sydney"
  email: "martin.wechselberger@sydney.edu.au"
  googlescholar: "https://scholar.google.com/citations?user=S--GqM-txV8C&hl=en"
  orcid: "https://orcid.org/0000-0003-2681-3440"

# Reading Files
include:
  - .htaccess
  - _pages
  - files
  - assets
  - _data

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

timezone: Australia/Sydney

sass:
style: compressed
