---
---

/* Import only the light version of the air skin */
@import "theme/air_light";

/* Standard imports */
@import "include/mixins";
@import "vendor/susy/susy";

@import "layout/reset";
@import "layout/base";

@import "include/utilities";
@import "layout/tables";
@import "layout/buttons";
@import "layout/notices";
@import "layout/masthead";
@import "layout/navigation";
@import "layout/footer";
@import "syntax";

@import "layout/forms";

@import "layout/page";
@import "layout/archive";
@import "layout/sidebar";
@import "layout/json_cv";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";

/* Final brute-force to ensure pure white */
body, #main, .masthead, .footer, .page, .sidebar {
  background-color: #ffffff !important;
  color: #111111 !important;
}
