---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'air' }}";
@import "minimal-mistakes";

.site-title {
color: red !important;
}

.masthead__menu-toggle {
display: none !important;
}

.masthead__menu {
display: block !important;
}

.greedy-nav .visible-links {
display: flex !important;
visibility: visible !important;
}
